.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

.pizza {
  max-width: 500px;
  display: flex;
  gap: 16px;
  padding: 8px 0;
}

.pizza__image {
  width: 100px;
  height: 100px;
}

.pizza__info {
  display: flex;
  flex-direction: column;
}

.pizza__name {
  text-align: left;
  font-weight: 700;
}

.pizza__ingredients {
  text-align: left;
  font-style: italic;
  margin-bottom: 10px;
}

.pizza__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pizza__price {
  font-size: 14px;
}
