.content {
  max-width: 1280px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.title {
  text-align: left;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #1e4b3e;
  text-transform: uppercase;
}

.sortPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listPanel {
  display: flex;
}

.searchSortPanel {
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .sortPanel {
    display: block;
  }
}
