.select {
  font-family: 'Mulish', sans-serif;
  color: #8e8ea9;
  border: 1px solid #eaeaef;
  background-color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  width: 175px;
}

.select:focus-visible {
  outline: none !important;
}

.select::placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
}
