.select {
  font-family: 'Mulish', sans-serif;
  color: #8e8ea9;
  border: 1px solid #eaeaef;
  background-color: #fff;
  border-radius: 4px;
  margin-left: 16px;
  padding: 10px;
  font-size: 14px;
}

.select:focus-visible {
  outline: none !important;
}
